html {
    background-color: #202020;
}

p, h1, h2, h3, h4, b {
    color: white;
}

div {
    background-color: darkred;
    border-color: red;
    border-width: 5px;
    padding: 1px;
}

div:hover {
	background-color: black;
}

iframe {
	background-color: darkred;
	border: none;
	width: 100%
}

#poleContainer:hover {
	background-color: darkred;
}

#main-container {
	text-align: center;
}

#poleContainer {
	width: 100%;
}

.pole {
	width: 25%;
	margin-left: -2px;
	float: left;
}

#lowerBar {
	float: left;
	width: 100%;
	margin-left: -1px;
}

button {
	float: right;
	margin-top: -5.5%;
}

footer {
	text-align: center;
	float: inline-start;
}
